@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  /* Primary */
  --red: hsl(4, 100%, 67%);

  /* Neutral */
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

/* .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  } */
